body {
    background-image: url("Orlando.jpg");
}



#disabledInput{
    width: 50% !important;
    color: black !important;
}

#emailName{
    width: 50% !important;
}


#nameID{
    width: 50% !important;
}



input {
    color: black !important;
}